@import url(./_theme_dark/section-title_theme_dark.css);
@import url(./_theme_light/section-title_theme_light.css);
@import url(./_tech/section-title_tech.css);
@import url(./_resources/section-title_resources.css);


.section-title {
   width: 60%;
   line-height: 69px;
   font-size: 60px;
   font-weight: bold;
   text-align: center;
}