@import url(./__triangle/kaufman__triangle.css);

.kaufman {
    overflow: hidden;
    background-color: #1F1F1F;
    position: relative;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}